.footer {
  width: 100%;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  padding: 0 1.875rem 1.875rem;

  pointer-events: none;

  color: #fff;

  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 0 3.75rem 2.5rem;
  }
}
.footer--fixed {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;
}
@media (max-height: 559px) {
  .footer--fixed {
    display: none;
  }
}

/* FOOTER COPYRIGHT
-------------------------------------------- */
.footer-copyright {
  font-size: 0.9375rem;

  pointer-events: auto;
}
.footer-copyright p {
  margin-bottom: 0;
}

.language-switcher {
  font-size: 0.9375rem;

  text-transform: uppercase;
  pointer-events: auto;
}
.language-switcher a.is-active {
  color: #cf000f;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 500ms;
}

a:hover {
  color: #cf000f;
}

.language-switcher a + a {
  margin-left: 1.5625rem;
}
