<div class="news-container">
  <h1>Last News</h1>
  <div class="articles-slider" *ngIf="slidesStore.length; else loader">
    <ngx-flicking
      [options]="{
        circular: false,
        gap: 10,
        duration: 500,
        isEqualSize: true,
        isConstantSize: true,
        hanger: 50,
        anchor: 50,
        bound: false,
        autoResize: true,
        height: 500
      }"
      class="flicking"
      (needPanel)="onNeedPanel($event)"
      (moveEnd)="onMoveEnd($event)"
    >
      <ng-template>
        <div
          class="p-d-flex p-flex-column p-jc-between panel"
          *ngFor="let article of slidesStore"
        >
          <h3 class="article-title">
            {{ article.title }}
          </h3>
          <img
            *ngIf="!article.image; else articleImg"
            src="../../../assets/placeholder-image.png"
            class="article-img"
          />
          <ng-template #articleImg>
            <img
              class="article-img"
              src="{{ 'https://static01.nyt.com/' + article.image }}"
            />
          </ng-template>
          <div class="news-footer">
            <span class="p-d-flex p-jc-left">
              <i class="pi pi-clock p-as-center p-m-2"></i>
              <p style="font-size: small">
                {{ article.pub_date | date: "MMM. d, y":"UTC":"it" }}
              </p>
            </span>
            <p style="font-size: small; font-weight: bold; text-align: left">
              {{ article.author || "Sconosciuto" }}
            </p>
            <a target="_blank" href="{{ article.url }}"
              >Leggi articolo completo</a
            >
          </div>
        </div>
      </ng-template>
    </ngx-flicking>
  </div>
  <ng-template #loader>
    <div class="loader-container">
      <p-progressSpinner></p-progressSpinner>
      <p>Caricamento in corso...</p>
    </div>
  </ng-template>
</div>
