.news-container {
  text-align: center;
}

.article-slider {
  height: 100%;
}

.panel {
  width: 40%;
  height: 400px;
  margin: 5% auto;
  border: thin solid rgba(128, 128, 128, 0.37);
  border-radius: 20px;
  background-color: white;
  padding-bottom: 5%;
}

.article {
  border: thin solid gray;
  border-radius: 20px;
}

.article-title {
  font-weight: bold;
}

.article-img {
  text-align: center;
  width: 100%;
  height: 50%;
}

.flicking {
  height: 500px;
}

a {
  text-decoration: none;
  color: red;
}
