<div
  class="news-container"
  [style.padding-bottom]="!data.length ? '10rem' : null"
>
  <div class="news-title" *ngIf="data.length && !loading">
    <h1>Articoli trovati ({{ data.length || 0 }})</h1>
  </div>
  <div class="articles-slider" *ngIf="data.length && !loading">
    <ngx-flicking
      [options]="{
        circular: false,

        gap: 20,
        duration: 800,
        moveType: 'freeScroll',
        isEqualSize: true,
        isConstantSize: true,
        autoResize: true,
        bounce: '20%',
        height: 500
      }"
      class="flicking"
      (needPanel)="onNeedPanel($event)"
      (moveEnd)="onMoveEnd($event)"
    >
      <ng-template>
        <div
          [articleCard]
          class="p-flex-column panel p-shadow-5"
          *ngFor="let article of data"
        >
          <div
            *ngIf="!article.image && !article.urlToImage; else articleImg"
            [style.background]="
              'url(../../../../../../../assets/images/placeholder-image.png)'
            "
            [style.background-position]="'center'"
            [style.background-size]="'cover'"
            class="article-img"
          >
            <p-badge [value]="2" styleClass="p-mr-2"></p-badge>
          </div>
          <ng-template #articleImg>
            <div
              class="article-img"
              [style.background]="'url(' + article.urlToImage + ')'"
              [style.background-position]="'center'"
              [style.background-size]="'cover'"
            >
              <app-date-badge
                [date]="article.pub_date || article.publishedAt"
              ></app-date-badge>
            </div>
          </ng-template>
          <div class="news-footer">
            <h3 class="article-title">
              {{ article.title | truncate: [65] }}
            </h3>
            <span class="p-d-flex p-jc-left">
              <i class="pi pi-clock p-as-center p-m-2"></i>
              <p style="font-size: small">
                {{
                  article.pub_date || article.publishedAt
                    | date: "MMM. d, y":"UTC":currentLang
                    | uppercase
                }}
              </p>
            </span>
            <p style="font-size: small; font-weight: bold; text-align: left">
              {{ article.author || "Sconosciuto" }}
            </p>
          </div>
          <div class="news-button">
            <a target="_blank" href="{{ article.url }}" [translate]
              >news.read-news</a
            >
          </div>
        </div>
      </ng-template>
    </ngx-flicking>
  </div>
  <div class="no-news-container" *ngIf="noResult">
    <div class="alert-container">
      <div class="icon-container">
        <i class="pi pi-info"></i>
      </div>
      <div class="text-container">
        <h2 [translate]>news.no-result-title</h2>
        <p [translate]>news.no-result-body</p>
      </div>
    </div>
  </div>
  <app-loader
    *ngIf="loading"
    strokeWidth="5"
    customSpinner="true"
    [message]="'news.on-search' | translate"
  ></app-loader>
</div>
