@import "../../../../../assets/colors/index.scss";
.news-container {
  text-align: center;
  margin-bottom: 2rem;
}

.news-title {
  margin: 2% auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  h1 {
    color: white;
  }
}

.article-slider {
  height: 100%;
}

.panel {
  width: 300px;
  height: 100%;
  border: thin solid rgba(128, 128, 128, 0.37);
  display: flex;
  cursor: grab;
}

.news-footer {
  padding-bottom: 1rem;
}

.news-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: height 300ms;
  i {
    color: $secondary;
  }
  p {
    font-size: small;
  }
}

.news-description {
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: opacity 300ms, bottom 300ms;
  div {
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
  }
}

.article-card:hover {
  .news-content {
    height: 0;
    + .news-button {
      background-color: #f14336;
      a {
        color: white;
        padding: 5%;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  .news-description {
    opacity: 1;
    bottom: 10%;
  }
  .source-badge {
    opacity: 0;
  }
}

.source-badge {
  opacity: 1;
  transition: opacity 300ms;
}

.news-button {
  background-color: #fff;
  transition: background-color 300ms;
  z-index: 10;
  cursor: pointer;
  a {
    color: $secondary;
    transform: scale(1);
    font-weight: bold;
    transition: padding 300ms, color 300ms, transform 300ms;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    padding: 0 0 1rem;
  }
}

.author-container {
  display: flex;
  flex-wrap: wrap;
}

.news-button .article {
  border: thin solid gray;
  border-radius: 20px;
}

.article-title {
  font-weight: bold;
}

.article-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.flicking {
  height: 450px;
  width: 100%;
}

.panel:active {
  cursor: grabbing;
}

:host ::ng-deep .p-badge {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

a {
  text-decoration: none;
  color: #1875d1;
  transition: color 0.2s;
}

a:hover {
  color: white;
}

.no-news-container {
  display: flex;
  justify-content: center;
}

.alert-container {
  margin: 5px;
  width: 70%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #ff6347;
  border-radius: 10px;
  align-items: center;
  color: #fff;
  padding: 0 1rem;
}

@media only screen and (max-width: 575px) {
  .alert-container {
    width: 100%;
  }
}

.icon-container {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 50%;
}

.text-container {
  margin-left: 1rem;
  border-left: 1px solid;
  h2 {
    margin-bottom: 0;
  }
}

.alert-container i {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
