<div class="card">
  <h5>Local Storage</h5>
  <p-table
    [scrollable]="true"
    [style]="{ width: '100%' }"
    scrollHeight="500px"
    [resizableColumns]="true"
    columnResizeMode="expand"
    styleClass="p-datatable-gridlines"
    #dt2
    [value]="customers2"
    [(selection)]="selectedCustomer2"
    dataKey="id"
    [rows]="10"
    [paginator]="true"
    stateStorage="local"
    stateKey="statedemo-local"
    [lazy]="true"
  >
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col *ngFor="let col of columns" style="width: 250px" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th
          pResizableColumn
          [pSortableColumn]="col.header"
          *ngFor="let col of columns"
        >
          {{ col.header }}
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns">
          <input
            pInputText
            type="text"
            (input)="dt2.filter($event.target.value, col.field, 'contains')"
            [value]="dt2.filters[col.field]?.value"
            placeholder="Search by Name"
            class="p-column-filter"
          />
        </th>
        <!-- <th>
          <input
            pInputText
            type="text"
            (input)="
              dt2.filter($event.target.value, 'country.name', 'contains')
            "
            [value]="dt2.filters['country.name']?.value"
            placeholder="Search by Country"
            class="p-column-filter"
          />
        </th>
        <th>
          <input
            pInputText
            type="text"
            (input)="
              dt2.filter($event.target.value, 'representative.name', 'contains')
            "
            [value]="dt2.filters['representative.name']?.value"
            placeholder="Search by Representative"
            class="p-column-filter"
          />
        </th>
        <th>
          <input
            pInputText
            type="text"
            (input)="dt2.filter($event.target.value, 'status', 'contains')"
            [value]="dt2.filters['status']?.value"
            placeholder="Search by Status"
            class="p-column-filter"
          />
        </th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-article>
      <tr>
        <td *ngFor="let col of columns">
          <img
            *ngIf="col.field === 'urlToImage'; else normalData"
            [src]="article.urlToImage"
            width="200"
            height="200"
          />
          <a
            *ngIf="col.field === 'url'"
            target="_blank"
            [href]="article[col.field]"
            [translate]
            >news.read-news</a
          >
          <span
            *ngIf="col.field !== 'urlToImage' && col.field !== 'url'"
            class="p-column-title"
            >{{
              col.field === "publishedAt"
                ? (article[col.field] | date: "dd-mm-yyyy")
                : col.field === "description"
                ? article[col.field]
                  ? article[col.field].slice(0, 20) + "..."
                  : ""
                : article[col.field]
            }}</span
          >
        </td>
        <!--         <td>
          <img [src]="article.urlToImage" width="100" />
        </td>
        <td></td>
        <td>
          <span class="p-column-title">Status</span>
        </td>
        <td>
          <span class="p-column-title">Status</span>
        </td> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
      <tr style="height: 34px">
        <td *ngFor="let col of columns">
          <div class="loading-text"></div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
