<div class="content">
  <div class="content-header">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
  </div>
  <div class="content-form">
    <div class="p-d-flex dropdown-container">
      <span class="p-float-label dropdown">
        <p-dropdown
          id="category"
          filter="true"
          [showClear]="true"
          [panelStyle]="{ width: 'fits-content' }"
          itemSize="7"
          filterValue="value"
          optionValue="value"
          [autoDisplayFirst]="false"
          [(ngModel)]="category"
          [options]="categoryList"
          optionLabel="name"
        >
          <ng-template let-item pTemplate="item">
            {{ item.name | translate }}
          </ng-template>

          <ng-template let-item pTemplate="selectedItem">
            {{ item.name | translate }}
          </ng-template>
        </p-dropdown>
        <label class="dropdown-label" for="dropdown">{{
          "news.category" | translate
        }}</label>
      </span>
      <span class="p-float-label dropdown">
        <p-dropdown
          id="countries"
          filter="true"
          [showClear]="true"
          [panelStyle]="{ width: 'fits-content' }"
          itemSize="7"
          filterValue="value"
          optionValue="value"
          [autoDisplayFirst]="false"
          [(ngModel)]="country"
          [options]="countriesList"
          optionLabel="name"
        >
          <ng-template let-item pTemplate="item">
            {{ item.name | translate }}
          </ng-template>

          <ng-template let-item pTemplate="selectedItem">
            {{ item.name | translate }}
          </ng-template>
        </p-dropdown>
        <label class="dropdown-label" for="dropdown">{{
          "news.country" | translate
        }}</label>
      </span>
    </div>
    <button
      pButton
      icon="pi pi-search"
      iconPos="left"
      type="button"
      label="{{ 'news.search' | translate }}"
      class="submit-button"
      (click)="submitForm()"
    ></button>
  </div>
</div>
