@import "../../../assets/colors/index.scss";

.footer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 2rem;
  background-color: transparent;
  pointer-events: none;
  color: #fff;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  z-index: 2001;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s;
}

.footer.background {
  background-color: rgba(101, 35, 245, 0.9);
}
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 1.5rem 3.75rem;
    z-index: 2001;
  }
}

.footer-copyright {
  font-size: 0.9375rem;
  pointer-events: auto;
}

.language-switcher {
  font-size: 0.9375rem;
  align-self: flex-end;
  text-transform: uppercase;
  pointer-events: auto;
  padding: 1rem 0;
}

.language-switcher a {
  text-decoration: none;
  color: #fff;
  transition: color 300ms;
  cursor: pointer;
}

.language-switcher a.is-active,
.language-switcher a:hover {
  color: $secondary;
}

.language-switcher a + a {
  margin-left: 1.5625rem;
}
