@import "../../../assets/colors/index.scss";

.footer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.875rem 1.875rem;
  background-color: $primary;
  pointer-events: none;
  color: #fff;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  z-index: 2001;
  right: 0;
  bottom: 0;
  left: 0;
}
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 0 3.75rem 2.5rem;
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

/* FOOTER COPYRIGHT
-------------------------------------------- */
.footer-copyright {
  font-size: 0.9375rem;

  pointer-events: auto;
}
.footer-copyright p {
  margin-bottom: 0;
}

/* PARTIAL: LANGUAGE SWITCHER
-------------------------------------------- */
.language-switcher {
  font-size: 0.9375rem;
  align-self: flex-end;
  text-transform: uppercase;
  pointer-events: auto;
}

.language-switcher a {
  text-decoration: none;
  color: #fff;
  transition: color 300ms;
  cursor: pointer;
}

.language-switcher a.is-active,
.language-switcher a:hover {
  color: #cf000f;
}

.language-switcher a + a {
  margin-left: 1.5625rem;
}
