<footer
  #footer
  class="footer"
  [ngClass]="{
    background: ![
      '',
      '#firstPage',
      '#secondPage',
      '#thirdPage',
      '#fourthPage',
      '#fivePage'
    ].includes(currentRoute)
  }"
>
  <div class="footer-copyright">
    <p>© Petralia. 2021</p>
  </div>
  <div class="language-switcher">
    <a
      [class.is-active]="currentLanguage === 'it'"
      (click)="changeLanguage('it')"
      >Ita</a
    ><a
      [class.is-active]="currentLanguage === 'en'"
      (click)="changeLanguage('en')"
      >Eng</a
    >
  </div>
</footer>
