<!-- <div class="news-container">
  <div class="news-title">
    <h1>Ultime News ({{ totalResults || 0 }})</h1>
  </div>
  <div class="articles-slider" *ngIf="slidesStore.length; else loader">
    <ngx-flicking
      [options]="{
        circular: false,
        moveTypeSnap: { type: 'snap', count: 2 },
        gap: 20,
        duration: 800,
        isEqualSize: true,
        isConstantSize: true,
        hanger: '30%',
        anchor: '50%',
        autoResize: true,
        bounce: '20%',
        height: 500
      }"
      class="flicking"
      (needPanel)="onNeedPanel($event)"
      (moveEnd)="onMoveEnd($event)"
    >
      <ng-template>
        <div
          [articleCard]
          class="p-flex-column panel p-shadow-5"
          *ngFor="let article of slidesStore"
        >
          <div
            *ngIf="!article.image && !article.urlToImage; else articleImg"
            [style.background]="
              'url(../../../../../assets/placeholder-image.png)'
            "
            [style.background-position]="'center'"
            [style.background-size]="'cover'"
            class="article-img"
          >
            <p-badge [value]="2" styleClass="p-mr-2"></p-badge>
          </div>
          <ng-template #articleImg>
            <div
              class="article-img"
              [style.background]="'url(' + article.urlToImage + ')'"
              [style.background-position]="'center'"
              [style.background-size]="'cover'"
            >
              <app-date-badge
                [date]="article.pub_date || article.publishedAt"
              ></app-date-badge>
            </div>
          </ng-template>
          <div class="news-footer">
            <h3 class="article-title">
              {{ article.title | truncate: [65] }}
            </h3>
            <span class="p-d-flex p-jc-left">
              <i class="pi pi-clock p-as-center p-m-2"></i>
              <p style="font-size: small">
                {{
                  article.pub_date || article.publishedAt
                    | date: "MMM. d, y":"UTC":currentLang
                    | uppercase
                }}
              </p>
            </span>
            <p style="font-size: small; font-weight: bold; text-align: left">
              {{ article.author || "Sconosciuto" }}
            </p>
          </div>
          <div class="news-button">
            <a target="_blank" href="{{ article.url }}" [translate]
              >news.read-news</a
            >
          </div>
        </div>
      </ng-template>
    </ngx-flicking>
  </div>
  <ng-template #loader>
    <app-loader [loadingMessage]="'Caricamento in corso...'"></app-loader>
  </ng-template>
</div> -->

<app-news-slider
  [title]="'news.top-headlines' | translate"
  [description]="'news.top-headlines-description' | translate"
  [sliderPlugins]="plugins"
  [resumePosition]="'left'"
  [sliderOptions]="{
    moveTypeSnap: { type: 'snap', count: 4 },
    duration: 500,
    autoResize: true,
    circular: true
  }"
></app-news-slider>
<div class="p-mx-4 p-mb-6">
  <app-news-search></app-news-search>
</div>
<div class="p-mx-4 p-mb-6">
  <app-news-table></app-news-table>
</div>
