.no-weather-container {
  display: flex;
  justify-content: center;
}

.example-card {
  margin: 5px;
  width: 70%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #ff6347;
  border-radius: 10px;
  align-items: center;
}

.esclamation-mark {
  margin-top: 12px;
  font-size: 50px;
  font-weight: bold;
}

h2 {
  margin-bottom: 0;
}

i {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
