@import "../../../assets/colors/index.scss";

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:host ::ng-deep div.iScrollIndicator {
  background: $secondary !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #161616;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.scrollable-content {
  background: white;
  overflow: scroll;
  margin: 0 auto;
  width: 500px;
  height: 250px;
}
.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  border-color: rgba(27, 31, 35, 0.35);
  background-position: -0.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}

.firstPage {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 576px) {
  .firstPage {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .firstPage {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .firstPage {
    max-width: 960px;
  }
}

/*===========================
        03.ABOUT css 
===========================*/
.about_image {
  position: relative;
}
.about-image,
.about_content {
  margin-top: 50px;
}
.about_image img {
  width: 100%;
}
/* .about_image .about_shape {
  width: 404px;
  height: 525px;
  border-left: 15px solid #00a78e;
  border-bottom: 15px solid #00a78e;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
} */
/* @media (max-width: 767px) {
  .about_image .about_shape {
    width: 100%;
    height: 380px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about_image .about_shape {
    width: 404px;
    height: 525px;
  }
}
.about_image .about_shape::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 85%;
  background-color: #00a78e;
  bottom: 0;
  right: 0;
}
.about_image .about_shape::after {
  position: absolute;
  content: "";
  width: 104%;
  height: 15px;
  background-color: #00a78e;
  top: 36px;
  right: -2px;
  -webkit-transform: rotate(11deg);
  -moz-transform: rotate(11deg);
  -ms-transform: rotate(11deg);
  -o-transform: rotate(11deg);
  transform: rotate(11deg);
  border-top-left-radius: 20px;
}
@media (max-width: 767px) {
  .about_image .about_shape::after {
    top: 27px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about_image .about_shape::after {
    top: 37px;
  }
} */

/*===== All Section Title Style =====*/
.section_title .sub_title {
  font-size: 20px;
  font-weight: 600;
  color: $secondary;
}
@media (max-width: 767px) {
  .section_title .sub_title {
    font-size: 16px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section_title .sub_title {
    font-size: 18px;
  }
}
.section_title .main_title {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .section_title .main_title {
    font-size: 22px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section_title .main_title {
    font-size: 26px;
  }
}
.section_title .line {
  padding-top: 10px;
  padding-left: 0;
}
.section_title .line li {
  display: inline-block;
  background-color: $secondary;
  border-radius: 50px;
  height: 3px;
}
.section_title .line li:nth-of-type(1) {
  width: 64px;
  margin-right: 0.5rem;
}
.section_title .line li:nth-of-type(2) {
  width: 10px;
  margin-right: 0.5rem;
}
.section_title .line li:nth-of-type(3) {
  width: 7px;
}

.about_content {
  margin-top: 50px;
  p {
    color: white;
    margin-top: 10px;
  }
}

section {
  &::before,
  &::after {
    width: 100%;
    content: "";
    display: flex;
  }
  &::after {
    height: 82px;
  }
  &::before {
    height: 104px;
  }
}

@media only screen and (min-width: 1200px) {
  section {
    &::after {
      height: 98px;
    }
    &::before {
      height: 124px;
    }
  }
}
/* .padding-section {
  width: 100%;
  height: 100px;
} */

.about_skills {
  padding-top: 15px;
}

.skill-item {
  margin-top: 20px;
}

.skill_item .skill_header {
  position: relative;
}
.skill_item .skill_header .skill_title {
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.skill_item .skill_header .skill_percentage {
  position: absolute;
  top: -3px;
  right: 0;
}
.skill_item .skill_header .skill_percentage p {
  font-size: 14px;
  font-weight: 400;
}
.skill_item .skill_bar {
  margin-top: 15px;
}
.skill_item .skill_bar .bar_inner {
  width: 100%;
  height: 9px;
  border-radius: 5px;
  background-color: rgba(100, 111, 135, 0.11);
  position: relative;
}
.skill_item .skill_bar .bar_inner .progress_line {
  position: absolute;
  top: 0;
  left: 0;
  height: 9px;
  border-radius: 5px;
  background-color: #00a78e;
  -webkit-transition: all 2s ease-out 0s;
  -moz-transition: all 2s ease-out 0s;
  -ms-transition: all 2s ease-out 0s;
  -o-transition: all 2s ease-out 0s;
  transition: all 2s ease-out 0s;
  width: 0;
}
.skill_item .skill_bar .bar_inner .progress_line::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 18px;
  background-color: #fff;
  border: 2px solid $secondary;
  top: -5px;
  right: 0;
}

.pb-30 {
  padding-bottom: 30px;
}
.home {
  color: #fff;
  opacity: 1;
}

.container.home {
  .avatar,
  h1,
  p {
    position: relative;
    z-index: 2;
  }
}

.avatar {
  width: 6.25rem;
  height: 6.25rem;
  font-size: 2.0833333333rem;
  display: inline-block;
}

.cover-letter {
  opacity: 0.1;
  color: #fff !important;
  font-size: 90vh !important;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 30vh;
  line-height: 1;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.07);
  z-index: 0;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
  user-select: none;
}

/* .avatar:hover {
  .avatar-bord {
    margin: -0.5rem 0 -0.5rem -0.5rem;
    transform: rotate(180deg) translate(100%);
  }
} */

.avatar-bord {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background-color: #fff;
  z-index: -1;
  border-top-right-radius: 100rem;
  border-bottom-right-radius: 100rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: -0.5rem -0.5rem -0.5rem 0;
  transition: all 300ms;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/*===========================
   09.WORK EXPERIENCE css 
===========================*/
.work_experience {
  position: relative;
  margin-top: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .work_experience {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .work_experience {
    margin-top: 0;
  }
}
.work_experience::before {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0;
  width: 2px;
  height: 100%;
  background-color: $secondary;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .work_experience::before {
    display: none;
  }
}
@media (max-width: 767px) {
  .work_experience::before {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_experience {
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .single_experience {
    margin-top: 25px;
  }
}
.single_experience .experience_title {
  width: 46%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_experience .experience_title {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .single_experience .experience_title {
    width: 100%;
  }
}
.single_experience .experience_title .title {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}
@media (max-width: 767px) {
  .single_experience .experience_title .title {
    font-size: 20px;
  }
}
.single_experience .experience_title p {
  color: $secondary;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .single_experience .experience_title p {
    font-size: 15px;
  }
}
.single_experience .experience_title .date {
  font-size: 16px;
  font-weight: 600;
  color: #aaa;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .single_experience .experience_title .date {
    font-size: 15px;
  }
}
.single_experience .experience_number {
  width: 8%;
  text-align: center;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_experience .experience_number {
    display: none;
  }
}
@media (max-width: 767px) {
  .single_experience .experience_number {
    display: none;
  }
}
.single_experience .experience_number span {
  width: 55px;
  height: 55px;
  line-height: 51px;
  text-align: center;
  border: 2px solid $secondary;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: $secondary;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background-color: #fff;
  display: inline-block;
}
.single_experience .experience_content {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.3);
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  width: 46%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_experience .experience_content {
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .single_experience .experience_content {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
  }
}
.single_experience .experience_content p {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single_experience:hover .experience_number span {
  background-color: $secondary;
  color: #fff;
}
.single_experience:hover .experience_content {
  background-color: $secondary;
}
.single_experience:hover .experience_content p {
  color: #fff;
}

/*===== All Section Title Style =====*/
.section_title .sub_title {
  font-size: 20px;
  font-weight: 600;
  color: $secondary;
}
@media (max-width: 767px) {
  .section_title .sub_title {
    font-size: 16px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section_title .sub_title {
    font-size: 18px;
  }
}
.section_title .main_title {
  font-size: 35px;
  font-weight: 600;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .section_title .main_title {
    font-size: 22px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section_title .main_title {
    font-size: 26px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.order-first {
  -ms-flex-order: 13;
  order: 13;
}
.order-last {
  -ms-flex-order: -1;
  order: -1;
}

@media (min-width: 992px) {
  .order-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}
