@import "src/assets/colors/index.scss";
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:host ::ng-deep div.iScrollIndicator {
  background: $secondary !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #161616;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.skills-container {
  justify-content: center;
}
.about-details p {
  margin-bottom: 30px;
  color: #fff;
  font-size: 15px;
}

.education-header-wrapper {
  text-align: center;
  background-color: $primary;
}
@media (min-width: 992px) {
  .education .row:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px auto;
    z-index: -1;
  }
}
.education-info:after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 3px solid #fff;
  top: 50%;
  left: -16px;
  margin-top: -7px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 479px) {
  .row {
    .education-info,
    .education-info.p-text-right {
      .education-detail {
        width: 100%;
      }
      .education-year {
        display: table-caption;
        width: 100%;
        vertical-align: middle;
        padding-top: 0px;
      }
      &:after {
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .education-info {
    border-bottom: 1px solid #aaa;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .education-info:after {
    top: 0;
    left: 0;
    margin-top: 0;
  }
  .education-info.p-text-right:after {
    right: 0 !important;
  }
}

.education-info {
  display: table;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  &.p-text-right {
    &:after {
      right: -16px;
      left: unset;
    }
    .education-year {
      float: right;
      padding-top: 30px;
      display: table-cell;
      width: 200px;
      vertical-align: middle;
    }

    .education-detail {
      float: left;
    }
  }
  .education-year {
    display: table-cell;
    width: 200px;
    vertical-align: middle;

    h4 {
      font-size: 60px;
      margin: 0px;
      color: #202020;
      font-weight: 500;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
  .education-detail {
    display: table-cell;
    width: calc(100% - 200px);
    h4 {
      font-size: 18px;
      text-transform: capitalize;
      margin-top: 0px;
      color: #fff;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      -ms-transition: color 0.3s;
      -o-transition: color 0.3s;
      transition: color 0.3s;
    }
    span {
      display: inline-block;
      width: 100%;
      color: $secondary;
      text-transform: capitalize;
      margin-bottom: 10px;
      font-size: 15px;
    }
    p {
      margin: 0;
      color: #fff;
    }
  }
  &:hover {
    &:after {
      background-color: #ffffff;
      border: 3px solid #f6483b;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }
    .education-year h4 {
      -webkit-animation-duration: 2s;
      -moz-animation-duration: 2s;
      -ms-animation-duration: 2s;
      -o-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-delay: 300ms;
      -moz-animation-delay: 300ms;
      -ms-animation-delay: 300ms;
      -o-animation-delay: 300ms;
      animation-delay: 300ms;
      animation-iteration-count: infinite;
      animation-name: pulse;
      color: #f6483b;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .education-info {
    border-bottom: 1px solid #aaa;
    padding-bottom: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  section {
    &::after {
      height: 98px;
    }
    &::before {
      height: 124px;
    }
  }
}

.about_skills {
  padding-top: 15px;
}

.skill-item {
  margin-top: 20px;
}

.skill_item .skill_header {
  position: relative;
}
.skill_item .skill_header .skill_title {
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.skill_item .skill_header .skill_percentage {
  position: absolute;
  top: -3px;
  right: 0;
}
.skill_item .skill_header .skill_percentage p {
  font-size: 14px;
  font-weight: 400;
}
.skill_item .skill_bar {
  margin-top: 15px;
}
.skill_item .skill_bar .bar_inner {
  width: 100%;
  height: 9px;
  border-radius: 5px;
  background-color: rgba(100, 111, 135, 0.11);
  position: relative;
}
.skill_item .skill_bar .bar_inner .progress_line {
  position: absolute;
  top: 0;
  left: 0;
  height: 9px;
  border-radius: 5px;
  background-color: #00a78e;
  -webkit-transition: all 2s ease-out 0s;
  -moz-transition: all 2s ease-out 0s;
  -ms-transition: all 2s ease-out 0s;
  -o-transition: all 2s ease-out 0s;
  transition: all 2s ease-out 0s;
  width: 0;
}
.skill_item .skill_bar .bar_inner .progress_line::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 18px;
  background-color: #fff;
  border: 2px solid $secondary;
  top: -5px;
  right: 0;
}

.pb-30 {
  padding-bottom: 30px;
}
.home {
  color: #fff;
  opacity: 1;
}

.container.home .avatar,
h1,
p {
  position: relative;
  z-index: 2;
}

.avatar {
  transform: scale(1);
  transition: transform 300ms;
  width: 6.25rem;
  height: 6.25rem;
  font-size: 2.0833333333rem;
  display: inline-block;
  cursor: pointer;
}

.avatar:hover {
  transform: scale(1.2);
}

.cover-letter {
  opacity: 0.1;
  color: #fff !important;
  font-size: 90vh !important;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 30vh;
  line-height: 1;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.07);
  z-index: 0;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
  user-select: none;
}

.avatar-bord {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background-color: #fff;
  z-index: -1;
  border-top-right-radius: 100rem;
  border-bottom-right-radius: 100rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: -0.5rem -0.5rem -0.5rem 0;
  transition: all 300ms;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.work_experience {
  position: relative;
  margin-top: 30px;
}
@media only screen and (min-width: 991px) and (max-width: 1060px) {
  .work_experience {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .work_experience {
    margin-top: 0;
  }
}

.about-img {
  height: 100%;
}
.work_experience::before {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0;
  width: 2px;
  height: 100%;
  background-color: $secondary;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .work_experience::before {
    display: none;
  }
}
@media (max-width: 767px) {
  .work_experience::before {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_experience {
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .single_experience {
    margin-top: 25px;
  }
}
.single_experience .experience_title {
  width: 46%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_experience .experience_title {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .single_experience .experience_title {
    width: 100%;
  }
}
.single_experience .experience_title .title {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}
@media (max-width: 767px) {
  .single_experience .experience_title .title {
    font-size: 20px;
  }
}
.single_experience .experience_title p {
  color: $secondary;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .single_experience .experience_title p {
    font-size: 15px;
  }
}
.single_experience .experience_title .date {
  font-size: 16px;
  font-weight: 600;
  color: #aaa;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .single_experience .experience_title .date {
    font-size: 15px;
  }
}
.single_experience .experience_number {
  width: 8%;
  text-align: center;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_experience .experience_number {
    display: none;
  }
}
@media (max-width: 767px) {
  .single_experience .experience_number {
    display: none;
  }
}
.single_experience .experience_number span {
  width: 55px;
  height: 55px;
  line-height: 51px;
  text-align: center;
  border: 2px solid $secondary;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: $secondary;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background-color: #fff;
  display: inline-block;
}
.single_experience .experience_content {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(196, 196, 196, 0.3);
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  width: 46%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_experience .experience_content {
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .single_experience .experience_content {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
  }
}
.single_experience .experience_content p {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single_experience:hover .experience_number span {
  background-color: $secondary;
  color: #fff;
}
.single_experience:hover .experience_content {
  background-color: $secondary;
}
.single_experience:hover .experience_content p {
  color: #fff;
}

/*===== All Section Title Style =====*/
.section_title .sub_title {
  font-size: 20px;
  font-weight: 600;
  color: $secondary;
}
@media (max-width: 767px) {
  .section_title .sub_title {
    font-size: 16px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section_title .sub_title {
    font-size: 18px;
  }
}
.section_title .main_title {
  font-size: 35px;
  font-weight: 600;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .section_title .main_title {
    font-size: 22px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section_title .main_title {
    font-size: 26px;
  }
}

.container {
  width: 100%;
  padding: 6.5rem 1rem 5.406rem;
  margin: auto;
}
.about-details{
height: max-content;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.order-first {
  -ms-flex-order: 13;
  order: 13;
}
.order-last {
  -ms-flex-order: -1;
  order: -1;
}

@media (min-width: 992px) {
  .order-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}
