<app-socials-links></app-socials-links>
<app-progress-bar [currentIndex]="currentIndex"></app-progress-bar>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section">
    <section id="about">
      <div class="firstPage">
        <div class="p-grid p-ai-center p-jc-center">
          <div class="p-col-12 p-md-9 p-lg-6">
            <div class="about_image">
              <img
                src="../../../assets/images/placeholder-image.png"
                alt="Hero"
              />
            </div>
            <!-- about image -->
          </div>
          <div class="p-col-12 p-lg-6">
            <div class="about_content">
              <div class="section_title">
                <h5 class="sub_title">About</h5>
                <h3 class="main_title">Why You Hire Me?</h3>
                <ul class="line">
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <!-- section title -->
              <p class="animate__animated animate__bounce">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                takimata sanctus.
              </p>

              <div class="about_skills pt-15">
                <div class="skill_item mt-20">
                  <div class="skill_header">
                    <h6 class="skill_title">UI/UX Design</h6>
                    <div class="skill_percentage">
                      <p><span class="counter">85</span>%</p>
                    </div>
                  </div>
                  <div class="skill_bar">
                    <div class="bar_inner">
                      <div class="bar progress_line" data-width="85"></div>
                    </div>
                  </div>
                </div>
                <!-- skill item -->
                <div class="skill_item mt-20">
                  <div class="skill_header">
                    <h6 class="skill_title">Web Design</h6>
                    <div class="skill_percentage">
                      <p><span class="counter">75</span>%</p>
                    </div>
                  </div>
                  <div class="skill_bar">
                    <div class="bar_inner">
                      <div class="bar progress_line" data-width="75"></div>
                    </div>
                  </div>
                </div>
                <!-- skill item -->
                <div class="skill_item mt-20">
                  <div class="skill_header">
                    <h6 class="skill_title">HTML/CSS</h6>
                    <div class="skill_percentage">
                      <p><span class="counter">90</span>%</p>
                    </div>
                  </div>
                  <div class="skill_bar">
                    <div class="bar_inner">
                      <div class="bar progress_line" data-width="90"></div>
                    </div>
                  </div>
                </div>
                <!-- skill item -->
                <div class="skill_item mt-20">
                  <div class="skill_header">
                    <h6 class="skill_title">Sketch</h6>
                    <div class="skill_percentage">
                      <p><span class="counter">65</span>%</p>
                    </div>
                  </div>
                  <div class="skill_bar">
                    <div class="bar_inner">
                      <div class="bar progress_line" data-width="65"></div>
                    </div>
                  </div>
                </div>
                <!-- skill item -->
              </div>
              <!-- about skill -->
            </div>
            <!-- about content -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>
  </div>
  <div class="section"></div>
  <div class="section">
    <div class="slide">Slide 2.1</div>
    <div class="slide">Slide 2.2</div>
    <div class="slide">Slide 2.3</div>
  </div>
  <div class="section"></div>
</div>
