<app-socials-links></app-socials-links>
<app-progress-bar [currentIndex]="currentIndex"></app-progress-bar>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section" aTilt [tiltSettings]="tiltSettings">
    <div class="container home p-as-center p-text-center">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/pierantonio-petralia/"
      >
        <div class="avatar p-mb-6">
          <div class="avatar-bord avatar-shape-rounded bg-white"></div>
          <img
            src="assets/images/pierantonio_petralia.jpg"
            alt=""
            class="avatar-image shadow-light"
          />
        </div>
      </a>
      <h1 class="p-mb-2 p-mb-lg-3">Pierantonio Petralia</h1>
      <p class="lead p-mb-0">Front end Developer</p>
      <span class="cover-letter" data-tilt>P</span>
    </div>
  </div>
  <div class="section">
    <section class="container">
      <div class="row p-jc-center">
        <div class="p-md-6 p-sm-12">
          <div class="about-img">
            <ng-lottie [options]="options"></ng-lottie>
          </div>
        </div>
        <div class="p-md-6 p-sm-12">
            <app-header-section
              [title]="'home.about' | translate"
              [subtitle]="'home.about-subtitle' | translate"
            ></app-header-section>
          <div class="about-details">
            <p [translate]>home.about-me</p>
            <button
              pButton
              (click)="openCv()"
              type="button"
              [label]="'home.download-resume' | translate"
              class="p-button-raised p-button-danger"
            ></button>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section">
    <section class="container">
      <div class="row p-jc-center">
        <div class="education-header-wrapper">
          <app-header-section
            [title]="'home.education' | translate"
            [subtitle]="'home.education-subtitle' | translate"
          ></app-header-section>
        </div>
        <div class="education">
          <div class="row">
            <div class="p-lg-6 p-md-12 p-lg-offset-6 p-md-offset-0">
              <div class="education-info">
                <div class="education-year">
                  <h4>2020</h4>
                </div>
                <div class="education-detail">
                  <h4>ITS Steve Jobs Academy</h4>
                  <span>Catania</span>
                  <p>
                    {{ "home.education-steve-jobs" | translate }}
                  </p>
                </div>
              </div>
            </div>
            <div class="p-lg-6 p-md-12">
              <div class="education-info p-text-right">
                <div class="education-year">
                  <h4>2009</h4>
                </div>
                <div class="education-detail">
                  <h4>Archimede di Catania</h4>
                  <span>Catania</span>
                  <p>
                    {{ "home.education-school" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section">
    <section id="work">
      <div class="container">
        <div class="row p-jc-center">
          <app-header-section
            [title]="'home.experience' | translate"
            [subtitle]="'home.experience-subtitle' | translate"
          ></app-header-section>
        </div>
        <div class="work_experience">
          <div class="row">
            <div class="p-lg-12">
              <div
                class="single_experience p-d-flex p-ai-center p-flex-wrap wow fadeIn"
                data-aos-duration="1.3s"
                data-aos-delay="0.2s"
                style="
                  visibility: visible;
                  animation-duration: 1.3s;
                  animation-delay: 0.2s;
                  animation-name: fadeIn;
                "
              >
                <div class="experience_title order-last">
                  <h3 class="title">Front End Developer</h3>
                  <p>VITA Health</p>
                  <span class="date">October 2024 - Current</span>
                </div>
                <div class="experience_number">
                  <span>01</span>
                </div>
                <div class="experience_content order-first">
                  <p>
                    {{ "home.experience-1" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="p-lg-12">
              <div
                class="single_experience p-d-flex p-ai-center p-flex-wrap wow fadeIn"
                data-aos-duration="1.3s"
                data-aos-delay="0.2s"
                style="
                  visibility: visible;
                  animation-duration: 1.3s;
                  animation-delay: 0.2s;
                  animation-name: fadeIn;
                "
              >
                <div class="experience_title text-lg-right">
                  <h3 class="title">Front End Developer</h3>
                  <p>TECMA Solutions S.p.A.</p>
                  <span class="date">April 2021 - Current</span>
                </div>
                <div class="experience_number">
                  <span>02</span>
                </div>
                <div class="experience_content">
                  <p>
                    {{ "home.experience-2" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="p-lg-12">
              <div
                class="single_experience p-d-flex p-ai-center p-flex-wrap wow fadeIn"
                data-wow-duration="1.3s"
                data-wow-delay="0.5s"
                style="
                  visibility: visible;
                  animation-duration: 1.3s;
                  animation-delay: 0.5s;
                  animation-name: fadeIn;
                "
              >
                <div class="experience_title order-last">
                  <h3 class="title">Front End Developer</h3>
                  <p>Alten Italia</p>
                  <span class="date">Febrary 2021 - October 2024</span>
                </div>
                <div class="experience_number">
                  <span>03</span>
                </div>
                <div class="experience_content order-first">
                  <p>
                    {{ "home.experience-3" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="p-lg-12">
              <div
                class="single_experience p-d-flex p-ai-center p-flex-wrap wow fadeIn"
                data-wow-duration="1.3s"
                data-wow-delay="0.8s"
                style="
                  visibility: visible;
                  animation-duration: 1.3s;
                  animation-delay: 0.8s;
                  animation-name: fadeIn;
                "
              >
                <div class="experience_title text-lg-right">
                  <h3 class="title">Front End Developer</h3>
                  <p>Paradigma</p>
                  <span class="date">Febrary 2020 - Febrary 2021</span>
                </div>
                <div class="experience_number">
                  <span>04</span>
                </div>
                <div class="experience_content">
                  <p>
                    {{ "home.experience-4" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section">
    <section class="container">
      <div class="row">
        <div class="p-col-12 p-text-center">
          <app-header-section
            [title]="'home.skills' | translate"
            [subtitle]="'home.skills-subtitle' | translate"
          ></app-header-section>
        </div>
        <div class="p-col-12 p-text-center">
          <div class="row skills-container">
            <div
              class="p-lg-3 p-md-4 p-sm-6 p-text-center"
              *ngFor="let skill of mySkills; let i = index"
            >
              <app-skills-badge [id]="i" [skill]="skill"></app-skills-badge>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
