.no-weather-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.example-card {
  margin: 5px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  position: relative;
  background-color: white;
  width: 95vw;
  padding-top: 10px;
  height: 100%;
  flex-direction: column;
}

.esclamation-mark {
  margin-top: 12px;
  font-size: 50px;
  font-weight: bold;
}

h2 {
  margin-bottom: 0;
  color: #f14336;
}

p {
  color: #4d05e8;
}

i {
  border: 1px solid #f142367c;
  border-radius: 100%;
  padding: 1rem;
  font-size: 2rem;
  color: #f14336;
  font-weight: bold;
}
