.example-card {
  width: 80%;
  margin: 10% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1976d2;
}

h1 {
  text-align: center;
  color: white;
}

input {
  padding: 5%;
  border-radius: 25px;
  border: 0;
}

input::placeholder {
  font-style: italic;
}

button {
  position: absolute;
  border-radius: 25px;
  bottom: 10%;
  right: 10%;
  height: 50px;
  align-self: center;
  background-color: red;
  color: white;
  font-size: 32px;
  padding: 0 15px;
}
