.input-container {
  width: 80%;
  margin: 10% auto 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

h2 {
  text-align: center;
  color: #fff;
}

input::placeholder {
  font-style: italic;
}

.button-container {
  display: flex;
  margin-bottom: 5%;
}

.button {
  margin-left: 5%;
}
.dropdown-label {
  color: black;
}

:host ::ng-deep .p-button {
  background: #f14336;
}

.panelResult {
  width: max-content;
}
