<header class="header" role="banner">
  <div class="toolbar-inner">
    <span routerLink="/" class="home-title"
      >Petralia<span class="home-title-dot">.</span></span
    >
    <div class="spacer"></div>
    <p-button
      class="p-button-text hamburger-button"
      type="button"
      (click)="handleOpenSidebar()"
      icon="pi pi-bars"
    ></p-button>
  </div>
</header>
<p-sidebar
  [(visible)]="isVisibleSidebar"
  position="right"
  [showCloseIcon]="false"
  [blockScroll]="true"
  [dismissible]="false"
  [baseZIndex]="1000"
>
  <div class="sidebar-menu">
    <div class="menu-header" [ngClass]="{ visible: sidebarAnimation }">
      <div class="language-switcher">
        <a
          [class.is-active]="currentLanguage === 'it'"
          (click)="changeLanguage('it')"
          >Ita</a
        ><a
          [class.is-active]="currentLanguage === 'en'"
          (click)="changeLanguage('en')"
          >Eng</a
        >
      </div>
      <p-button
        class="p-button-text close-button"
        type="button"
        (click)="handleCloseSidebar()"
        icon="pi pi-times"
      ></p-button>
    </div>
    <div class="nav-links" style="overflow-y: scroll">
      <nav>
        <ul class="menu">
          <li>
            <p-button
              type="button"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="handleCloseSidebar('/')"
              [ngClass]="{
                visible: sidebarAnimation
              }"
              label="{{ 'navbar.home' | translate }}"
              styleClass="p-button-text"
            ></p-button>
          </li>
          <li>
            <p-button
              type="button"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="handleCloseSidebar('weather')"
              [ngClass]="{
                visible: sidebarAnimation
              }"
              label="{{ 'navbar.weather-app' | translate }}"
              styleClass="p-button-text"
            ></p-button>
          </li>
          <li>
            <p-button
              type="button"
              (click)="handleCloseSidebar('news')"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{
                visible: sidebarAnimation
              }"
              label="{{ 'navbar.news-app' | translate }}"
              styleClass="p-button-text"
            ></p-button>
          </li>
        </ul>
      </nav>
    </div>
    <div class="menu-footer">
      <div
        class="menu-socials"
        [ngClass]="{
          visible: sidebarAnimation
        }"
      >
        <a
          class="social-icon"
          target="_blank"
          href="https://www.linkedin.com/in/pierantonio-petralia/"
          ><fa-icon [icon]="faLinkedinIn"></fa-icon></a
        ><a
          class="social-icon"
          target="_blank"
          href="https://github.com/stealth90"
          ><i class="pi pi-github"></i
        ></a>
      </div>
      <div
        [ngClass]="{
          visible: sidebarAnimation
        }"
        class="menu-copyright"
      >
        <p>© 2021 Petralia.<br />{{ "navbar.all-rights" | translate }}</p>
      </div>
    </div>
  </div>
</p-sidebar>
