<div class="toolbar" role="banner">
  <span routerLink="/" class="home-title"
    >Petralia<span class="home-title-dot">.</span></span
  >
  <div class="spacer"></div>
  <p-button
    class="p-button-text hamburger-button"
    type="button"
    (click)="handleOpenSidebar()"
    icon="pi pi-bars"
  ></p-button>
</div>
<p-sidebar
  [(visible)]="isVisibleSidebar"
  position="right"
  [showCloseIcon]="false"
  [blockScroll]="true"
  [dismissible]="false"
  [baseZIndex]="1000"
>
  <div class="offcanvas-menu__header">
    <!--Locales-->
    <div [ngClass]="{ visible: sidebarAnimation }" class="language-switcher">
      <a class="is-active" href="#">Eng</a><a href="#">Fra</a
      ><a href="#">Ger</a>
    </div>
    <!--Menu Burger--><p-button
      class="p-button-text close-button"
      type="button"
      (click)="handleCloseSidebar()"
      icon="pi pi-times"
    ></p-button>
  </div>

  <div class="nav-links">
    <p-button
      type="button"
      routerLinkActive="active"
      routerLink="weather"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="handleCloseSidebar()"
      [ngClass]="{
        visible: sidebarAnimation
      }"
      label="Weather App"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      type="button"
      (click)="handleCloseSidebar()"
      routerLink="news"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [ngClass]="{
        visible: sidebarAnimation
      }"
      label="News App"
      styleClass="p-button-text"
    ></p-button>
  </div>
</p-sidebar>
