@import "../../../../../assets/colors/index.scss";
.outer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba($color: #000, $alpha: 0.3);
  align-items: center;
}

.form-container {
  width: 100%;
  margin: 10px 5px 10px 10px;
  background-color: white;
  justify-content: center;
}

.search-button {
  border-radius: 0;
  align-self: stretch;
}

.button-container {
  display: flex;
  align-self: stretch;
  margin: 10px 10px 10px 0;
}

.clear-button {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.term-input {
  flex: 2;
  span {
    width: 100%;
  }
}

.calendar-input {
  flex: 1;
  position: relative;
}

:host::ng-deep {
  .p-calendar .p-datepicker {
    transform: scale(0.5);
  }
  .p-button {
    background: $secondary;
    transition: background 300ms;
    &:hover {
      background: #a52d24;
    }
  }
  .p-calendar-w-btn {
    .p-inputtext,
    .p-datepicker-trigger {
      border-radius: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .outer-container {
    padding: 1rem;
  }
  .form-container,
  .button-container {
    margin: 0;
  }
  :host::ng-deep {
    .button-container {
      .p-button {
        width: 100%;
        padding: 1rem;
      }
    }
  }
}
