<form
  class="outer-container p-flex-column p-flex-md-row"
  [formGroup]="searchNewsForm"
  (ngSubmit)="onSubmit()"
>
  <div
    class="form-container p-ai-md-center p-d-flex p-flex-column p-flex-md-row"
  >
    <div class="term-input">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          [style]="{ height: '45px', width: '100%' }"
          type="text"
          pInputText
          placeholder="{{ 'news.search' | translate }}"
          formControlName="q"
        />
      </span>
    </div>
  </div>
  <div class="button-container">
    <button
      pButton
      [disabled]="!(searchNewsForm.touched && searchNewsForm.valid)"
      label="{{ 'news.search' | translate }}"
      class="search-button"
      type="submit"
    ></button>
  </div>
</form>
