<form
  class="outer-container"
  [formGroup]="searchNewsForm"
  (ngSubmit)="onSubmit()"
>
  <div
    class="form-container p-ai-md-center p-d-flex p-flex-column p-flex-md-row"
  >
    <div class="term-input">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          [style]="{ height: '45px', width: '100%' }"
          type="text"
          pInputText
          placeholder="{{ 'news.search' | translate }}"
          formControlName="q"
        />
      </span>
    </div>
    <div class="calendar-input">
      <p-calendar
        [style]="{ height: '45px', width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        baseZIndex="9999999999"
        [showIcon]="true"
        placeholder="mm/dd/yyyy"
        [monthNavigator]="true"
        [yearNavigator]="true"
        yearRange="2000:2030"
        inputId="dateFrom"
        formControlName="from"
      ></p-calendar>
    </div>
    <div class="calendar-input">
      <p-calendar
        [style]="{ height: '45px', width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        baseZIndex="9999999999"
        placeholder="mm/dd/yyyy"
        [showIcon]="true"
        [monthNavigator]="true"
        [yearNavigator]="true"
        yearRange="2000:2030"
        inputId="dateTo"
        formControlName="to"
      ></p-calendar>
    </div>
  </div>
  <div class="button-container">
    <button
      pButton
      [disabled]="!(searchNewsForm.touched && searchNewsForm.valid)"
      label="{{ 'news.search' | translate }}"
      class="search-button"
      type="submit"
    ></button>
  </div>
</form>
