<div class="weather-app">
  <app-weather-form (getCity)="getCity($event)"></app-weather-form>
  <div
    class="p-grid p-mt-2 widgets-container"
    *ngIf="myCurrentWeather.length; else noWeather"
  >
    <div class="p-col-12 p-sm-10 p-md-6 p-lg-3">
      <app-weather-widget
        [isGeoCity]="true"
        [time]="currentTime"
        [weather]="myCurrentWeather[0]"
      ></app-weather-widget>
    </div>
    <div
      class="p-col-12 p-sm-10 p-md-6 p-lg-3"
      *ngFor="let weather of myWeatherCollection; let idx = index"
      [@animation]="'visible'"
    >
      <div class="box">
        <app-weather-widget
          [isGeoCity]="false"
          [time]="currentTime"
          [weather]="weather"
          (deleteButton)="deleteCity($event)"
        ></app-weather-widget>
      </div>
    </div>
  </div>

  <ng-template #noWeather>
    <div class="loader-container">
      <p-progressSpinner></p-progressSpinner>
      <p>Caricamento in corso...</p>
    </div>
    <!-- <app-no-weather></app-no-weather> -->
  </ng-template>
</div>
