<div class="weather-app">
  <app-weather-form (addCity)="addCity($event)"></app-weather-form>
  <div class="p-grid p-pb-2 widgets-container">
    <div
      *ngIf="myCurrentWeather.length; else refetchData"
      class="p-col-12 p-sm-10 p-md-6 p-lg-3"
    >
      <app-weather-widget
        [isGeoCity]="true"
        [time]="currentTime"
        [weather]="myCurrentWeather[0]"
      ></app-weather-widget>
    </div>
    <ng-template #refetchData>
      <div class="p-col-12 p-sm-10 p-md-6 p-lg-3">
        <app-card-skeleton
          (refetchCity)="refetchCity()"
          [needRefetch]="true"
        ></app-card-skeleton>
      </div>
    </ng-template>
    <div
      class="p-col-12 p-sm-10 p-md-6 p-lg-3"
      *ngFor="let weather of myWeatherCollection"
      [@animation]="'visible'"
    >
      <app-weather-widget
        [isGeoCity]="false"
        [time]="currentTime"
        [weather]="weather"
        (deleteButton)="deleteCity($event)"
      ></app-weather-widget>
    </div>
    <ng-container
      *ngIf="!myCurrentWeather.length && !myWeatherCollection.length"
    >
      <div class="p-col-12 p-sm-10 p-md-6 p-lg-3">
        <app-no-weather></app-no-weather>
      </div>
    </ng-container>
  </div>
</div>
