<div class="weather-app">
  <app-weather-form (addCity)="addCity($event)"></app-weather-form>
  <div class="p-grid p-pb-2 widgets-container">
    <div *ngIf="myCurrentWeather.length" class="p-col-12 p-sm-10 p-md-6 p-lg-3">
      <app-weather-widget
        [isGeoCity]="true"
        [time]="currentTime"
        [weather]="myCurrentWeather[0]"
      ></app-weather-widget>
    </div>
    <div
      class="p-col-12 p-sm-10 p-md-6 p-lg-3"
      *ngFor="let weather of myWeatherCollection"
      [@animation]="'visible'"
    >
      <app-weather-widget
        [isGeoCity]="false"
        [time]="currentTime"
        [weather]="weather"
        (deleteButton)="deleteCity($event)"
      ></app-weather-widget>
    </div>
  </div>

  <ng-container *ngIf="!myCurrentWeather.length && !myWeatherCollection.length">
    <app-loader [message]="'loader.weather'"></app-loader>>
    <!-- <app-no-weather></app-no-weather> -->
  </ng-container>
</div>
