@import "src/assets/colors/index.scss";
.weather-app {
  min-height: calc(100dvh - 150px);
}
body {
  background: #000;
}
.widgets-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.loader-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loader {
  font-size: 5rem;
  color: $info;
}
