@import "../../../assets/colors/index.scss";
.weather-app {
  padding-bottom: 100px;
}
body {
  background: #000;
}
.widgets-container {
  display: flex;
  height: 100%;
  background-color: $secondary;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.loader-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loader {
  font-size: 5rem;
  color: $info;
}
