.fullpage-slider-progress-bar {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: -10rem;
  width: 25rem;
  height: 2px;
  transform: rotate(90deg);
  border-radius: 0.3125rem;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.p-progressbar:host {
  height: 100%;
}

:host ::ng-deep .p-progressbar-value {
  background: #f14336;
}
@media only screen and (min-width: 1200px) {
  .fullpage-slider-progress-bar {
    right: -8.5rem;
  }
}
@media only screen and (max-width: 575px) {
  .fullpage-slider-progress-bar {
    display: none;
  }
}
/* .fullpage-slider-progress-bar span {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  display: block;

  height: 100%;

  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;

  border-radius: 0.3125rem;
  background-color: #cf000f;
} */
