$primary: #4d05e8;
$primary-hover: #3d00c2;
$secondary: #f14336;
$secondary-alpha: #f14236da;
$warning: #f0ad4e;
$warning-alpha: #f0ad4eda;
$success: #5cb85c;
$success-alpha: #5cb85cda;
$info: #0275d8;
$info-alpha: #0275d8da;
