@import "../../../assets/colors/index.scss";

.popup-container {
  position: fixed;
  display: flex;
  top: 18.2%;
  right: 1%;
  padding: 1%;
  color: #fff;
  background-color: $secondary-alpha;
  border-radius: 0.5rem;
  z-index: 999999999999;
  align-items: center;
  justify-content: space-around;
  border-left: 0.5rem solid $secondary;
  &.warning {
    background-color: $warning-alpha;
    border-left: 0.5rem solid $warning;
  }
  &.info {
    background-color: $info-alpha;
    border-left: 0.5rem solid $info;
  }
  &.success {
    background-color: $success-alpha;
    border-left: 0.5rem solid $success;
  }
}

.close-icon {
  position: absolute;
  top: 5%;
  right: 1%;
  cursor: pointer;
}

.icon-container {
  display: flex;
  align-self: stretch;
}

.icon {
  padding: 0.5rem 0;
}
