.badge {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 2% 3%;
  background-color: #f14336;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  .day {
    font-size: 14px;
  }
  .month {
    font-size: 10px;
  }
}
