.fullpage-slider-progress-bar {
  position: fixed;
  z-index: 75;
  top: 50%;
  right: -4.3rem;
  width: 200px;
  height: 10px;
  transform: rotate(90deg);
  border-radius: 0.3125rem;
  background-color: #fff;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.p-progressbar:host {
  height: 100%;
}
@media only screen and (min-width: 1200px) {
  .fullpage-slider-progress-bar {
    right: 3.75rem;
  }
}
@media only screen and (max-width: 575px) {
  .fullpage-slider-progress-bar {
    display: none;
  }
}
/* .fullpage-slider-progress-bar span {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  display: block;

  height: 100%;

  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;

  border-radius: 0.3125rem;
  background-color: #cf000f;
} */
