@import "src/assets/colors/index.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5rem;
}

h1 {
  text-align: center;
  color: white;
  text-decoration: underline $secondary;
  text-underline-offset: 0.5rem;
}
