<div
  class="card p-d-flex p-flex-lg-column p-jc-between p-jc-lg-around p-ai-center p-ai-lg-start p-shadow-5"
>
  <span class="card-header p-mt-5 p-mb-3">
    <span class="p-d-flex p-mb-3">
      <p-skeleton width="2rem" height="1rem" styleClass="p-mr-2"></p-skeleton>
      <p-skeleton width="4rem" height="1rem"></p-skeleton>
    </span>
    <p-skeleton width="6rem" height="2rem" styleClass="p-mb-2"></p-skeleton>
    <p-skeleton width="2rem" height="1.5rem"></p-skeleton>
  </span>
  <div class="card-content p-my-6">
    <div class="card-content-buttons p-p-3">
      <p-skeleton width="1rem" styleClass=""></p-skeleton>
    </div>
    <p-skeleton shape="circle" size="4rem" styleClass="p-pb-6"></p-skeleton>
    <p-skeleton
      height="3.5rem"
      width="3.5rem"
      styleClass="p-pb-6 p-mx-2"
    ></p-skeleton>
  </div>
  <div class="card-footer">
    <div class="p-d-flex">
      <p-skeleton width="2rem" height="1.5rem" styleClass="p-mb-2"></p-skeleton>
      <p-skeleton width="2rem" height="1.5rem"></p-skeleton>
      <p-skeleton width="2rem" height="1.5rem"></p-skeleton>
    </div>
  </div>
  <div
    *ngIf="needRefetch"
    class="refetch-overlay"
    (click)="refetchCurrentCity()"
  >
    <i class="pi pi-refresh"></i>
    <p>{{ "weather.errors.no-position" | translate }}</p>
    <h3>{{ "common.retry" | translate }}</h3>
  </div>
</div>
