@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.card {
  margin: 5px;
  position: relative;
  background-color: white;
  border-radius: 10px;
  max-width: 100vw;
  height: 100%;

  &-header {
    max-width: 150px;
    margin-left: 1rem;
  }

  &-content {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    &-buttons {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
  &-footer {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}

.refetch-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  p {
    font-weight: bold;
  }
  i {
    font-size: 5rem;
  }
}

@media (min-width: 991px) {
  .card-content {
    width: 100%;
    justify-content: space-evenly;
  }
}
