<div *ngIf="weather.prefetch; else loadedData">
  <div class="example-card p-">
    <div class="p-d-flex p-mb-3">
      <p-skeleton shape="circle" size="4rem" styleClass="p-mr-2"></p-skeleton>
      <div>
        <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton height=".5rem"></p-skeleton>
      </div>
    </div>
    <p-skeleton width="100%" height="150px"></p-skeleton>
    <div class="p-d-flex p-jc-between p-mt-3">
      <p-skeleton width="4rem" height="2rem"></p-skeleton>
      <p-skeleton width="4rem" height="2rem"></p-skeleton>
    </div>
  </div>
</div>
<ng-template #loadedData>
  <div class="example-card p-shadow-5">
    <span class="header-container">
      <p class="time">
        {{ convertTimezone() }}
        <i *ngIf="isGeoCity" class="pi pi-send"></i>
      </p>
      <h2 #city>{{ weather.city }} {{ weather.flag }}</h2>
    </span>
    <span>
      <div class="content-container">
        <div *ngIf="!isGeoCity" class="buttons-container">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            (click)="deleteCity()"
            class="p-button-rounded p-button-danger p-button-text"
          ></button>
        </div>
        <app-weather-icon [icon]="weather?.icon"></app-weather-icon>
        <p class="temperature">{{ weather.temp.toFixed() }}°</p>
      </div>
    </span>
  </div>
</ng-template>
