<app-socials-links></app-socials-links>
<app-progress-bar [currentIndex]="currentIndex"></app-progress-bar>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section">
    Some section1
    <div class="scrollable-content">
      <h4>Scroll me</h4>
      <h4>Scroll me</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
      <h4>Text here</h4>
    </div>
    <h4>Scroll me</h4>
    <h4>Scroll me</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Scroll me</h4>
    <h4>Scroll me</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Scroll me</h4>
    <h4>Scroll me</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Scroll me</h4>
    <h4>Scroll me</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Scroll me</h4>
    <h4>Scroll me</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Scroll me</h4>
    <h4>Scroll me</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
    <h4>Text here</h4>
  </div>
  <div class="section"></div>
  <div class="section">
    <div class="slide">Slide 2.1</div>
    <div class="slide">Slide 2.2</div>
    <div class="slide">Slide 2.3</div>
  </div>
  <div class="section">Some section4</div>
</div>
