<div *ngIf="weather.prefetch; else loadedData">
  <div
    class="card p-d-flex p-flex-lg-column p-jc-between p-jc-lg-around p-ai-center p-ai-lg-start p-shadow-5"
  >
    <span class="card-header">
      <p-skeleton width="5rem" styleClass="p-mb-5"></p-skeleton>
      <p-skeleton width="10rem" styleClass="p-mt-2"></p-skeleton>
    </span>
    <div class="card-content">
      <div class="card-content-buttons">
        <p-skeleton width="1rem" styleClass="p-m-2"></p-skeleton>
      </div>
      <p-skeleton shape="circle" size="3rem" styleClass="p-mr-2"></p-skeleton>
      <p-skeleton
        height="3.5rem"
        width="3.5rem"
        styleClass="p-mb-2"
      ></p-skeleton>
    </div>
  </div>
</div>
<ng-template #loadedData>
  <!-- <div
    [@cardAnimator]="animationState"
    (swipeleft)="startAnimation('slideOutLeft')"
    (swiperight)="startAnimation('default')"
    class="card p-shadow-5"
  > -->
  <div
    class="card p-d-flex p-flex-lg-column p-jc-between p-jc-lg-around p-ai-center p-ai-lg-start p-shadow-5"
  >
    <!-- <div
      [@buttonAnimator]="animationState"
      class="card-skeleton p-shadow-5"
    >
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-trash"
        (click)="deleteCity()"
        class="deleteButton"
      ></button>
    </div> -->
    <span class="card-header">
      <p class="time">
        {{ convertTimezone() }}
      </p>
      <h2 #city>{{ weather.city }} {{ weather.flag }}</h2>
    </span>
    <div class="card-content">
      <div class="card-content-buttons">
        <button
          *ngIf="!isGeoCity"
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          (click)="deleteCity()"
          class="p-button-rounded p-button-danger p-button-text deleteButton"
        ></button>
        <i *ngIf="isGeoCity" class="pi pi-map-marker marker"></i>
      </div>
      <app-weather-icon [icon]="weather?.icon"></app-weather-icon>
      <p class="temperature">{{ weather.temp.toFixed() }}°</p>
    </div>
    <div class="card-footer">
      <div class="p-d-flex">
        <img
          class="icon"
          draggable="false"
          src="../../../../assets/svg/dry.svg"
        />{{ weather.humidity ? weather.humidity.toFixed() : "-" }}%
        <img
          class="icon"
          draggable="false"
          src="../../../../assets/svg/hot.svg"
        />{{ weather.temp_max ? weather.temp_max.toFixed() : "-" }}°
        <img
          class="icon"
          draggable="false"
          src="../../../../assets/svg/cold.svg"
        />{{ weather.temp_min ? weather.temp_min.toFixed() : "-" }}°
      </div>
    </div>
  </div>
</ng-template>
